
#footer{ 
    bottom: 0; 
    width:100%; 
    height:30px; 
    font:bold 1.7em/2.0 arial;
    text-align:center;  
    background-color: #0082e6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;  
    position: fixed;
    left: 0;
    right: 0;

}

.iconsFooter{
    color:rgba(0, 0, 0, 0.8);
    transition: color 0.1s;
    text-decoration:none;
    margin: 0 15px;
}

.iconsFooter:hover{
    color:rgb(255, 9, 9);
}

